# 忽略 Python 缓存文件和文件夹，忽略构建文件
__pycache__/
*.py[cd]
*.spec
*.cxx

build/
dist/
node_modules/
oh_modules/

# 忽略 AI Agent 文件
AGENTS.md
CLAUDE.md

data/

.preview/
.test/
.hvigor/
.appanalyzer/
.clangd/
.idea/

harmony/
